.text-style {
    text-decoration: none;
    color: #fff;
}

.text-style:hover {
    text-decoration: none;
    color: #f6c60d;
}

/* .text-style-fullscrn {
    background-color: #f6c60d;
} */

.text-style-fullscrn:hover {
    background-color: #f6c60d;
}

.text-style-footer {
    text-decoration: none;
    color: #fff;
}
.text-style-footer:hover {
    color: #007bff;
    text-decoration: underline;
}